@page "/"
@using MovieBrowserr.Models
@inject HttpClient Http
@rendermode InteractiveServer

<PageTitle>Discover Movies</PageTitle>

@if (nowPlayingMovies is not null && nowPlayingMovies.Any())
{
    <div class="home-section">
        <h2>Now Playing</h2>
        <div class="movie-row">
            @foreach (var movie in nowPlayingMovies)
            {
                <a href="@($"movie/{movie.Id}")" class="movie-link">
                    <div class="movie-card">
                        <img src="@($"https://image.tmdb.org/t/p/w500/{movie.PosterPath}")" alt="@movie.Title" />
                        <div class="movie-title">@movie.Title</div>
                    </div>
                </a>
            }
        </div>
    </div>
}

@if (topRatedMovies is not null && topRatedMovies.Any())
{
    <div class="home-section">
        <h2>Top Rated</h2>
        <div class="movie-row">
            @foreach (var movie in topRatedMovies)
            {
                <a href="@($"movie/{movie.Id}")" class="movie-link">
                    <div class="movie-card">
                        <img src="@($"https://image.tmdb.org/t/p/w500/{movie.PosterPath}")" alt="@movie.Title" />
                        <div class="movie-title">@movie.Title</div>
                    </div>
                </a>
            }
        </div>
    </div>
}

@if (isLoading)
{
    <p><em>Loading great movies for you...</em></p>
}
